/* You can add global styles to this file, and also import other style files */
@import "tailwindcss-primeui";
@import "tailwindcss";
@import "primeicons/primeicons.css";


html {
  scroll-behavior: smooth;

}

*[id] {
  scroll-margin-top: theme(spacing.16);
}

body {
  font-family: Onest Variable, system-ui, sans-serif;
  scroll-behavior: smooth;
}

::view-transition-old(root) {
  animation-duration: 1s;
  animation-name: shrink-circle;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark::view-transition-new(root) {
  animation-duration: 1s;
  animation-name: expand-circle;
  mix-blend-mode: normal;
}

/* Animaci贸n de expansi贸n circular desde el centro */
@keyframes expand-circle {
  from {
    clip-path: circle(0% at 50% 50%);
  }

  to {
    clip-path: circle(150% at 50% 50%);
  }
}

/* Animaci贸n de contracci贸n circular hacia el centro */
@keyframes shrink-circle {
  from {
    clip-path: circle(150% at 50% 50%);
    z-index: 1000000;
  }

  to {
    clip-path: circle(0% at 50% 50%);
    z-index: 1000000;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-20px) scale(1.05);
  }

  100% {
    transform: translateY(0) scale(1.5);
  }
}
