<div class="fixed top-0 left-0 w-full h-full text-primary-500/75 blur-[256px] z-0">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 900 600"
    width="100%"
    height="100%"
    preserveAspectRatio="xMidYMid slice"
  >
    <g fill="currentColor">
      <circle class="circle1" r="64" cx="124" cy="254" />
      <circle class="circle2" r="65" cx="92" cy="557" />
      <circle class="circle3" r="104" cx="705" cy="94" />
      <circle class="circle3" r="72" cx="505" cy="214" />
      <circle class="circle4" r="72" cx="851" cy="543" />
    </g>
  </svg>
</div>
